*{
    padding: 0%;
    margin: 0%;
}
body{
    background-image: url('./img/home.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.name
{
    position: absolute;
    top:20%;
    left:40%;
    font-size: 50px;
    color: cornsilk;
}
.active
{
    height: 200px;
    width: 30%;
    position: absolute;
    top: 40%;
    left:35%;
    background-color:rgba(0, 0, 0, 0.46);
    text-align: center;
    padding:20px;
}
h1{
    font-size: 40px;
    color: white;
    padding: 10px;
  }
 .line
 {
     padding: 20px;
     font-size: 25px;
 } 
.btn
{
    padding:10px;
    text-decoration: underline;
} 
a{
    color: white;
}

